name: CI/CD

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v3


      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"


      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest


      - name: Run tests
        run: pytest -q

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}


      - name: Build Docker image
        run: |
          docker build -t ghcr.io/lole-21/iris-streamlit:latest .


      - name: Push Docker image
        run: |
          docker push ghcr.io/lole-21/iris-streamlit:latest
